{% extends "common/base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'common/customcss/index_style.css' %}">
{% endblock style %}
{% block content %}
<!------------------------------------------------ header section -------------------------------------------------->
<div class="header-container">
  <div class="header">
    <section class="header-section">
      <div class="center-div">
        <h1 class="font-weight-bold">
          Alumni Association
        </h1>
        {% if user.is_authenticated %}
        {% else %}
          <p>Register yourself as alumni.</p>
          <div class="header-buttons">
            <a href="{% url 'about' %}">Learn more</a>
            <a href="{% url 'register' %}">Register</a>
          </div>
        {% endif %}
      </div>
    </section>
  </div>
</div>
<!------------------------------------------------ Main -------------------------------------------------->
<div class="container-fluid main-area">
<div class="container">
  <div class="row padding">
    <div class="col-lg-9">
      <div class="fundraing-pojects">
        <h4>Fundraising Projects</h4>
        <p><a class="view" href="#">View All</a></p><br/>
        <hr>
        <div class="container">
          <div class="row up">
            <div class="col-lg-6">
              <div class="card" style="width: 18rem; height: 28rem">
                <img class="card-img-top" src="{% static 'common/images/team1.png' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Greatest Need at Medicaps</h5>
                  <p class="card-text text-muted font-italic">Currently the Greatest Need is the Every Medi-caps Student Online project to provide up to 1,000 laptops and broadband connections to needy students to enable them to take online classes from home.</p>
                </div>
              </div>
            </div>  
            <div class="col-lg-6">
              <div class="card" style="width: 18rem; height: 28rem">
                <img class="card-img-top" src="{% static 'common/images/team3.png' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Scholarships</h5>
                  <p class="card-text text-muted font-italic">Give opportunity to think clearly and learn how to solve tough problems. It also gives me a motto “Gnyanam Paramam Dhyeyam”.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modified fundraing-pojects">
        <h4>Needs</h4>
        <p class="view"><a href="#">View All</a></p><br/>
        <hr>
        <div class="container">
          <div class="row up1">
            <p class="text-muted font-italic" style="text-align: center; margin-top: 20px ;margin-bottom:30px">
            Needs enables you to harness the power of your alumni network. Whatever may be the need (academic, relocation, career, projects, mentorship, etc.) you can ask the community and get responses in three simple steps. You can offer the same to others who might need your help.</p>
            <div class="three-icon">
              <div class="container">
                <div class="row">
                  <div class="extra-div col-lg-4 col-md-6 col-12">
                    <div class="icons">
                      <a href="#"><i class="fa-4x fa fa-desktop"  aria-hidden="true"></i></a>
                      <p>Choose a category</p>
                    </div>
                  </div>
                  <div class="extra-div col-lg-4 col-md-6 col-12">
                    <div class="icons">
                      <a href="#"><i class="fa-4x fa fa-edit" aria-hidden="true"></i></a>
                      <p>Post a need</p>
                    </div>
                  </div>
                  <div class="extra-div col-lg-4 col-12">
                    <div class="icons">
                      <a href="#"><i class="fa-4x fa fa-magic"></i></a>
                      <p>Get Response</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="align-button">
          <button type="button"  class="btn btn-primary ">Post a need</button></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="latest-news">
        <h4>Latest News</h4><br/>
        <hr>
        {% for item in news %}
        <p>{{ item.date_posted|date:"F d, Y" }}</p>
        <p><a href="{% url 'news-detail' item.id %}">{{ item.title }}</a></p>
        <hr>
        {% endfor %}
        <a href="{% url 'news-home' %}">View all</a>
      </div>
      <div class="latest-news">
        <h4>Events</h4><br/>
        <hr>
        {% for item in events %}
        <p>{{ item.date_of_event|date:"F d, Y" }}</p>
        <p><a href="{% url 'events-detail' item.id %}">{{ item.title }}</a></p>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}