{% extends "common/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'common/customcss/index_style.css' %}">
{% endblock style %}
{% block content %}
<!-- Page Content -->
  <div class="main-area">
    <div class="container">
      <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
          <!-- Title -->
          <h1 class="mt-4">
            {{ object.title }}
          </h1>
          <hr />
          <!-- Date/Time -->
          <p>Posted on {{ object.date_posted|date:"F d, Y" }}</p>
          <hr />
          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{ object.pic.url }}" alt="new-image" />
          <hr />
          <!-- Post Content -->
          <p>
            {{ object.content }}
          </p>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">
          
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
