{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'user/customcss/reset_style.css' %}">
{% endblock style %}
{% block content %}
<img class="wave" src="{% static 'user/resources/wave.png' %}" alt="wave  png">
<div class="container">
	<div class="login-content">
		<form method="post">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Enter new password</legend>
				<small class="text-muted">
						Please enter your new password twice so we can verify you typed it in correctly.
				</small>
					{{ form|crispy }}
			</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Update Password</button>
				</div>
		</form>
	</div>
</div>
{% endblock content %}