{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'user/customcss/reset_style.css' %}">
{% endblock style %}
{% block content %}
<img class="wave" src="{% static 'user/resources/wave.png' %}" alt="wave  png">
<div class="container">
	<div class="login-content">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Password reset sent</legend>
			<small class="text-muted">
						We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
			</small>
		</fieldset>
	</div>
</div>
{% endblock content %}