{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'user/customcss/login_style.css' %}">
{% endblock style %}
{% block content %}
	<img class="wave" src="{% static 'user/resources/wave.png' %}" alt="wave  png">
	<div class="container">
		<div class="img">
			<img src="{% static 'user/resources/bg.svg' %}" alt="bg svg">
		</div>
		<div class="login-content">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Join Today</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Log In</button>
				</div>
				<small class="text-muted">
					Already have an account? <br> <a class="ml-2" href="#">Sign In</a>
				</small>
			</form>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'user/customjs/login_script.js' %}"></script>
{% endblock content %}
